@import url('https://fonts.googleapis.com/css2?family= Chivo+Mono:wght@200 & display família= Chivo+Mono:wght@200;400;600;700 & swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 


